body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.list {
  list-style-type: none;
}
/* чому при додавані посиланню класу, не застосовується колір*/
a {
  text-decoration: none;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.accent {
  color: #2e2f42;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link:hover {
  color: #404bbf;
}
.menu-link:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}
.contacts-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-mail:hover {
  color: #404bbf;
}
.contacts-mail:focus {
  color: #404bbf;
}
.main {
  background-color: #2e2f42;
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.main-order {
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.main-order:hover {
  background: #404bbf;
}
.main-order:focus {
  background: #404bbf;
}
.ben-main-title {
  color: #fff;
}

.ben-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.ben-des {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
}
.team-main-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-list {
  background-color: #ffffff;
}
.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-list-dec {
  font-size: 16;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.port-main-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.port-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.port-des {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.end {
  background-color: #2e2f42;
}
.end-accent {
  color: #f4f4fd;
}
.end-des {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
